.background{
    background: rgb(12,77,128);
    background: linear-gradient(28deg, rgba(12,77,128,1) 35%, rgba(235,16,211,1) 75%);   
    background-repeat: no-repeat;
    background-size: auto;
    min-height: 100vh;
}