.btnPrimary{
    background-color: $btnEditar;
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100px;
    width: 100%;
    padding: 10px;
    border-radius: 13px;
    height: 40px;
    border: none;
    box-shadow: $shadow;
    transition: 400ms;
    font-weight: 600;
    margin: 0 10px 10px 0;

    &:hover {
      color: $black;
      background-color: transparent;
      border: solid 1px black;
      box-shadow:$shadow;
      cursor: pointer;
    }
}