@import '_variaveis';
header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #212121;
    height: 75px; 
        a{
            margin-left: 15px;
            font-weight: 800;
            font-size: 35px;
            text-decoration: none;
            color: $white;
        }
}